<!doctype html>
<title>Twitter Sentiment Analysis</title>
<meta charset=utf-8>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

</head>
<body>
<h1> Twitter Sentiment Analysis</h1>
<form class="col-md-4" method="post" action="{{ url_for('training') }}">
    <input type="text" class="form-control align-right" name="LabelLimit" placeholder="Label Limit (Max 9684)">
    <input type="text" class="form-control align-right" name="UnLabelLimit" placeholder="Un Label Limit (Max 1.5L)">
    <input type="text" class="form-control align-right" name="TestLimit" placeholder="Test Limit (Max 8987)">
    <button class="form-control btn-primary" type="submit">Training</button>
</form>
<form class="col-md-4" method="post" action="{{ url_for('predict') }}">
    <input type="text" class="form-control align-right" name="tweet" placeholder="Tweet (Max 140 Characters)">
    <button class="form-control btn-primary" type="submit">Predict</button>
</form>
</body>

